*{
    margin: 0;
    padding: 0;
}

nav{
    display: grid;
    height: 85px;
    background-color:#000000;
    grid-template-columns: 2fr 2fr;
    align-items: center;
}
/* navigation section 1*/
.nav-sec-1{
    display:flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 60px;
}
   
.nav-sec1-logo{
    height: 35px;
}
.abstract-h1{
    color:#fff;
    font-size:20px;
    font-style:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.help-center{
    height: px;
    color: #fff;
    font-size:20px;
    font-style:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-left: 2px solid #fff; 
}
.space{
padding-left: 8px;
}

/* navigation section 2 */

.nav-sec-2{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-right: 60px;
}


.submit{
    padding: 10px;
    width: 40vh;
    font-family: bold;
    border-radius: 7px;
    background-color: rgb(31, 31, 31);
    color: #fff;
    border: 1px solid #fff;
    font-size: 25px;
    text-align: center;
}

.signin{
    padding: 10px;
    width: 22vh;
    background-color:#4C5FD5;
    color: #fff;
    font-family: bold;
    border-radius: 7px;
    font-size: 25px ;
    text-align: center;
}

.signin:hover{
    background-color: #ffffff; 
    color: #000000;
    cursor: pointer;
}

/* navigation media quiry section */


/* .div-nav-media-quiry img{
    display: none;
    height: 10vh;
} */

/* main content */

.hero-div{
    height: 200px;
    display: grid;
    background-color: #dadbf1;
    place-items: center;
    padding-bottom: 100px;
    padding-top: 100px;
}
.hero-h1{
    margin: 0;
    padding: 0;
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.input-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 40rem;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid black;
    
}


.input{
    border: none;
   height: 5vh; 
   width: 100rem;
   font-size: 20px;
   padding-left: 15px;
}

.arrow-img{
    width: 4vh;
    padding-right: 20px;
    border: none;
}

/* content section start*/

.content-div{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2) 1fr;
    grid-template-rows: 3,1fr;
    grid-template-areas: 
    'a b'
    'c d'
    'e f';
    padding-top: 13%;
    padding-bottom: 13%;

}
.using-abstract{
    grid-area: a;
    padding-left: 25%;
    padding-bottom: 13%;
}
.div-manage-your-account{
    grid-area: b;
    padding-right: 25%;
    padding-bottom: 13%;
}
.div-manage-org-team-projects{
    grid-area: c;
    padding-left: 25%;
    padding-bottom: 13%;
}
.div-manage-billing{
    grid-area: d;
    padding-right: 25%;
    padding-bottom: 20%;
}
.div-authanticate{
    grid-area: e;
    padding-left: 25%;
}
.div-abstract-support{
    grid-area: f;
    padding-right: 25%;
    padding-bottom: 20px;
}

 .div-abstract-support, .using-abstract,.div-manage-your-account,.div-manage-org-team-projects,.div-manage-billing,.div-authanticate{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.content-img{
    max-height: 85px; 
}

.div-list-img{
    
     display:flex;
     margin-bottom: 60px;
}

h4{
    font-size: 25px;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 5%;
}
a{ 
    font-size: 20px;
    color: #4C5FD5;
}

p{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 5%;
    line-height: 25px;
}

.div-manage-org-team-projects img{
    padding-bottom: 50px;
    
}

.div-abstract-support img{
    padding-top: 30px;
}

/* footer start */

.footer{
    display: grid;
    height: 70vh;
    padding: 10vh;
    color: #ffffff;
    background-color: #000000;
    grid-template-columns: 5,1fr;
    grid-template-rows: 2,1fr;
    grid-template-areas: 
    'a b c d .'
    '. . . . e';
}
.f-a{
    grid-area: a;
}
.f-b{
    grid-area: b;
}
.f-c{
    grid-area: c;
}
.f-d{
    grid-area: d;
}
.f-e{
    grid-area: e;
}

.f-e li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.footer-logo{
    height: 35px;
}
.mix-ul{
    padding-top: 20px;
}
.mix-h{
    padding-bottom: 4px;
}
h6{
    font-size: 25px;
    padding-bottom: 20px;
}

ul{
    list-style: none;
}

li{
    padding-bottom: 5px;
    font-family: GT system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

/* media quiry start */

@media  (max-width:1201px) {
    .nav-sec-2{
        display: none;
    }

    /* .div-nav-media-quiry{
        display:active;
        padding-left: 30px;
    } */
   
}

@media(max-width:940px){
    .footer{
        height: auto;
        display: grid;
        gap: 3rem;
        grid-template-columns: 6,1fr;
        grid-template-rows: 3, 1fr;
        grid-template-areas: 
        'a . . . b .'
        'c . . . d .'
        '. . . . . e';
    }
    
.f-a{
    grid-area: a;
}
.f-b{
    grid-area: b;
}
.f-c{
    grid-area: c;
}
.f-d{
    grid-area: d;
}
.f-e{
    grid-area: e;
}

.content-div{
    gap: 3rem;
}
.manage-account-img{
    padding-bottom: 6rem;
}

.using-abstract{
    padding-bottom: 6rem;
}

.using-abstract-img{
    padding-bottom: 3rem;
}

.manage-org-team-project-img{
    padding-bottom: 7rem;
}

.div-manage-billing{
    padding-bottom: 14rem;
}
.authanticate-img{
    padding-bottom: 3rem;
}

.div-abstract-support{
    padding-bottom: 2.6rem;
}
.abstract-support-img{
    padding-bottom: 2rem;
}
}

@media(max-width:760px){

    .content-div{
        display: grid;
        gap: 4rem;
        padding: 5rem;
        grid-template-columns: 1,1fr;
        grid-template-rows: 6,1fr;
        grid-template-areas: 
        'a'
        'b'
        'c'
        'd'
        'e'
        'f';
     
    }

    .using-abstract{
        grid-area: a;
        padding: 0;
    }

    .div-manage-your-account{
        grid-area: b;
        padding: 0;
    }
    .div-manage-org-team-projects{
        grid-area: c;
        padding: 0;
    }
    .div-manage-billing{
        grid-area: d;
        padding: 0;
    }
    .div-authanticate{
        grid-area: e;
        padding: 0;
    }
    .div-abstract-support{
        grid-area: f;

    }
    .div-list-img{
        padding: 0;
    }
}